<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      
      <div class="container">
        
      <% if (bot.user.avatarURL) { %><div class="col-2"><img style="float:left;padding-right:10px;" class="img-responsive rounded-circle bounce"src='<%= bot.user.avatarURL %>?size=128'></div>
      <div class="col-8"><% } %>
      <h1><%= bot.user.username %> Dashboard</h1><% if (bot.user.avatarURL) { %></div><% } %>
        
      <p>
        <a class="btn btn-primary" href="/commands" role="button"><i class="fa fa-fw fa-book" aria-hidden="true"></i> Bot Documentation »</a>
      </p>
        </div>
    </div>
  </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
         
        </div>
        
        <div class="col-md-4">
          <h2><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Dashboard!</h2>
          <p>Yeah, the bot now has a dashboard!</p>
          <p><a class="btn btn-secondary" href="/login" role="button">Login »</a></p>
        </div>
      </div>
    </div>

<% include ./blocks/footer %>
